Boston housing  데이터를 이용해서 다음을 수행하시오.

- matplotlib을 이용하여 다음을 수행하시오.

In [2]:
import pandas as pd
import os

os.getcwd()
os.chdir(r'C:\Users\USER\kjw\데이터마이닝_학부_24_2\가시화')


boston_df = pd.read_csv('boston_housing.csv')
boston_df

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

1.  ‘medv’값에 대한 히스토그램을 그리시오.

2.  ‘medv’값에 대한 박스플랏을 그리시오.

3.‘chas’값에 대한 바 차트를 그리시오.

4.‘chas’ 값별로 ‘medv’값에 대한 박스 플랏을 그리시오.

5. x축을 ‘crim’, y축을 ‘medv’로 해서 산점도를 그리시오.

6. x축을 ‘crim’, y축을 ‘medv’로 해서 산점도를 그리시오. 단 chas 값이 0이면 빨간색으로, 1이면 초록색으로 점을 표시하시오.

7.‘medv’값을 레코드 순으로 라인 차트를 그리시오.

8. 전체 변수들에 대한 히트맵을 그리시오.

- pandas의 함수들을 이용하여 다음을 수행하시오.

9.‘medv’값에 대한 히스토그램을 그리시오.

10. ‘medv’값에 대한 박스플랏을 그리시오.

11.‘chas’값에 대한 바 차트를 그리시오.

12.‘chas’별로 ‘medv’ 값에 대한 박스 플랏을 그리시오.

13. x축을 ‘crim’, y축을 ‘medv’로 해서 산점도를 그리시오.

14.‘medv’값을 레코드 순으로 라인 차트를 그리시오.

15. 전체 변수들에 대한 히트맵을 그리시오.

- seaborn 패키지를 이용하여 다음을 수행하시오.

16.‘medv’값에 대한 히스토그램을 그리시오.

17.‘medv’값에 대한 박스플랏을 그리시오.

18.‘chas’값에 대한 바 차트를 그리시오.

19.‘chas’별로 ‘medv’ 값에 대한 박스 플랏을 그리시오.

20. x축을 ‘crim’, y축을 ‘medv’로 해서 산점도를 그리시오.

21. x축을 ‘crim’, y축을 ‘medv’로 해서 산점도를 그리시오. 단 chas 값별로 다른 색으로 표시하시오.

22.‘medv’값을 레코드 순으로 라인 차트를 그리시오.

23. 전체 변수들에 대한 히트맵을 그리시오.