# 모델생성과 성능평가 Lab

In [1]:
import numpy as np 
import pandas as pd 
import os

1. customer_scaled.csv 파일을 읽어서 customer_df에 저장하시오. 저장 후에 데이터의 특성을 탐색하시오.

In [2]:
customer_df = pd.read_csv('../../asset/customer_scaled.csv')
customer_df.shape

(18355, 26)

In [3]:
customer_df

,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,BikeBuyer,AvgMonthSpend,Age,...,Education_Bachelors,Education_Graduate Degree,Education_High School,Education_Partial College,Education_Partial High School,Occupation_Clerical,Occupation_Management,Occupation_Manual,Occupation_Professional,Occupation_Skilled Manual
0,0.0,1.0,1.0,0.6,0.000000,0.333333,0.496842,1.0,0.324210,0.185714,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,0.0,1.0,1.0,0.4,0.333333,0.666667,0.489453,1.0,0.425201,0.400000,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.6,0.000000,0.000000,0.536172,1.0,0.470977,0.214286,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,0.0,1.0,1.0,0.4,0.333333,0.666667,0.317083,1.0,0.605474,0.328571,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0.0,0.0,1.0,0.2,0.000000,0.000000,0.231958,1.0,0.533742,0.357143,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18350,1.0,1.0,1.0,0.2,0.000000,0.666667,0.544379,0.0,0.190656,0.571429,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
18351,1.0,0.0,0.0,0.2,0.000000,0.000000,0.518464,1.0,0.289287,0.200000,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
18352,1.0,0.0,0.0,0.0,0.000000,0.000000,0.224543,1.0,0.257669,0.200000,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
18353,1.0,0.0,0.0,0.2,0.000000,0.000000,0.072511,0.0,0.345446,0.242857,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
18354,1.0,1.0,1.0,0.0,0.333333,0.666667,0.038028,1.0,0.385559,0.285714,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0

2. BikeBuyer를 제외한 컬럼으로 입력변수들로, BikeBuyer를 출력변수로 하고, 훈련 데이터와 테스트 데이터를 8:2로 분할하시오.

In [4]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(customer_df.drop('BikeBuyer', axis=1), customer_df['BikeBuyer'], test_size=0.2)

3. 분류 모델의 성능을 출력하는 함수 get_clf_eval()을 작성하시오.

In [5]:
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score

def get_clf_eval(pred, y_test):
  confusion = confusion_matrix(y_test, pred)
  accuracy = accuracy_score(y_test, pred)
  precision = precision_score(y_test, pred)
  recall = recall_score(y_test, pred)
  print('Confusion Matrix')
  print(confusion)
  print('Accuracy: {0:.4f}, Precision: {1:.4f}, Recall: {2:.4f}'.format(accuracy, precision, recall))

4. sklearn 패키지를 이용하여 MLP 모형을 만들고 분류 성능을 평가하시오(단 히든 레이어는 (8,8)로 하시오).

In [6]:
from sklearn.neural_network import MLPClassifier

mlp = MLPClassifier(hidden_layer_sizes=(8, 8))
mlp.fit(X_train, y_train)
mlp_pred = mlp.predict(X_test)
get_clf_eval(mlp_pred, y_test)

Confusion Matrix
[[ 689  972]
 [ 404 1606]]
Accuracy: 0.6252, Precision: 0.6230, Recall: 0.7990

5. keras를 이용해서 인공신경망 모델을 정의하고 학습하시오(단 히든 레이어는 (8,8)로 하시오).

In [ ]:
from keras import models
from keras.layers import Input, Dense

model = models.Sequential()

# 입력층
model.add(Input(shape=(X_train.shape[1]))) # 열(Feature)의 개수만큼 shape를 지정

# 은닉층
# 히든 레이어는 (8,8)로 구성
model.add(Dense(8, activation='relu'))
model.add(Dense(8, activation='relu'))

# 출력층
model.add(Dense(1, activation='sigmoid'))

model.compile(
  optimizer='rmsprop', ## 최적화 알고리즘
  loss='binary_crossentropy', ## 손실함수
  metrics=['accuracy'] ## 학습 평가 지표
)

# 학습하기
history=model.fit(
  X_train,
  y_train,
  epochs=200, ## 데이터셋 200번 반복 학습
  batch_size=128, ## 데이터를 128개씩 묶어 학습
  validation_split=0.3 ## 학습 데이터의 30%를 검증 데이터로 
)

acc=history.history['accuracy'] ## 학습 정확도
val_acc=history.history['val_accuracy'] ## 검증 정확도
loss=history.history['loss'] ## 학습 손실
val_loss=history.history['val_loss'] ## 검증 손실
epochs=range(1,len(acc)+1)

6. 학습 중 Loss 함수를 그리시오.

In [ ]:
import matplotlib.pyplot as plt 

plt.plot(epochs, loss, 'bo', label='Training loss')
plt.plot(epochs, val_loss, 'b', label='Validation loss')
plt.title('Training and validation loss')
plt.xlabel('Epochs')
plt.legend()
plt.show()

7. 학습 중 정확도 함수를 그리시오.

In [ ]:
plt.plot(epochs, acc, 'bo', label='Training acc')
plt.plot(epochs, val_acc, 'b', label='Validation acc')
plt.title('Training and validation accuracy')
plt.xlabel('Epochs')
plt.legend()

8. 테스트 데이터 집합에 대한 성능을 확인하시오.

In [ ]:
predicted_result = model.predict(X_test)
predicted_target = pd.Series([1 if predicted_result[i] >= 0.5 else 0 for i in range(len(predicted_result))])
get_clf_eval(predicted_target, y_test)